@import '../../scss/reset';
@import '../../scss/mixins';
@import '../../scss/variables';

.landing{
    width:100vw;
    height:100vh;
    background: url('../../img/landing-bg.jpg');
    @include flexCenter(column);

    .button-container Button{
       margin: 20px;
       font-weight:weight(medium);
    }

    .input-box-container{
        @include flexCenter(column);
    }
    
    .login-container{
        background: $primary-color;
        @include flexCenter(column);
        width: 500px;
        padding: 50px;
        border-radius: 7%;
        box-shadow: 5px 5px 8px black;
    }
}