@import '../../scss/reset';
@import '../../scss/mixins';
@import '../../scss/variables';

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 110px;
    width: 100%;
    background: $primary-color;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);


    .drop-down-menu{
        margin-top: 450px;
        @include flexCenter(column);
        width:280px;
        height: 400px;
        background: $primary-color;
        // border: 2px solid rgb(75, 75, 75);
        box-shadow: 2px 2px 3px #888, -2px 2px 3px #888;


    }

    .profile-flex-box{
        @include flexCenter(row);
    }

    .profile-pic{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid rgb(75, 75, 75);
        box-shadow: 2px 2px 3px rgb(0, 0, 0);
        margin-right:15px;
    }

    .logo{
        margin-top:15px;
        width: 150px;
    }

    .username{
        margin-right: 20px;
    }

    .drop-down-links{
        margin-top: 20px;
    }

}