@import "../../scss/reset";
@import "../../scss/mixins";
@import "../../scss/variables";

.create-poll{
    width: 100%;
    height: 100vh;
    // background: #b8ae81;
    background: $primary-color;
    justify-content: space-around;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    z-index: 1;

    .content{
        margin: 50px 0px 0px 0px;
       @include flexCenter(column);
        padding: 40px 10px;
        z-index: 1;
    }
   
    .create-button{
        // background: $primary-color;
        background: #b8ae81;
        box-shadow: 1px 1px 10px rgb(0, 0, 0);
        cursor: pointer;
        width:25%;
        z-index: 1;
        font-size: 30px;
        margin: 50px;
        justify-content: center;
        align-items: center;
    }
    .data{
        margin: 20px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px 10px;
        z-index: 1;
    }

    .data-lable{
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .data-input{
        font-size: 40px;
        background: #b8ae81;
        margin: 5px 5px;
    }



}