@import '../../scss/reset';
@import '../../scss/mixins';
@import '../../scss/variables';

.settings{
    width: 100vw;
    height: 100vh;
    background: #fcfcfc;

    .welcome-message{
        margin-top: 50px;
        color: $accent-color;
    }

    .settings-profile-pic{
        margin-top: 60px;
        margin-bottom: 30px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 3px solid rgb(48, 48, 48);
        /* display: inline-block; */
        // background-color: #282c34;
        box-shadow: 5px 5px 5px black;

    }

    .edit-flex-box{
        @include flexCenter(row);
    }
    .edit-button{
        margin-top: 40px;
    }

    .verify-input-box {
        margin-left: 10px;
    }
    .edit-container{
        margin: 10px;
    }

    .cancel-button{
        margin-top:15px;
    }
}